### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#first check the unique players 
Total = len(purchase_data['SN'].unique().tolist())
#create new dictionary
players_dict = {"Total Players" : Total}
players_dict
#create new dataframe
players_df = pd.DataFrame([players_dict])
players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#basic calculations
avg = purchase_data['Item ID'].nunique()
avg_price = purchase_data['Price'].mean()
num_purchases = purchase_data['Purchase ID'].count()
total_revenue = purchase_data['Price'].sum()

#make new dictionary
purchasing_analysis_dict = {"Number of Unique Items" : avg, "Average Price" : avg_price, "Number of Purchases" : num_purchases,"Total Revenue" : total_revenue}
purchasing_analysis_dict

#make new dataframe
analysis_df = pd.DataFrame([purchasing_analysis_dict])
pd.options.display.float_format = '${:,.2f}'.format
analysis_df

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0          $3.05                  780                     183      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# drop all rows of duplicate players and store in new df
gender_df = pd.DataFrame(purchase_data.drop_duplicates(["SN"]))
gender_df.head()
#group the new df by gender to allow for easier manipulation, find total and percentages
grouped = gender_df.groupby('Gender')
total_count = grouped["Gender"].count()
percentages_gender = grouped["Gender"].count()/Total*100

#make new df
gender_stats_df = pd.DataFrame({"Total Count":total_count,"Percentage of players":percentages_gender})

# format to remove index name in the corner
gender_stats_df.index.name = None

# format sorted by total count, and two decimal places for the percentage
gender_stats_df.sort_values(["Total Count"])
pd.options.display.float_format = '{:,.2f}'.format

gender_stats_df.head()

                       Total Count  Percentage of players
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#group puchase data by gender
purchase_gender = purchase_data.groupby('Gender')

#calculations
purchase_count_gender = purchase_gender['Purchase ID'].count()
avg_pur_gender = purchase_gender['Price'].mean()
total_pur_gender = purchase_gender['Price'].sum()
avg_pp_gender = total_pur_gender/total_count

#create new df
gender_purchasing = pd.DataFrame({"Purchase Count": purchase_count_gender, 
                                    "Average Purchase Price": avg_pur_gender,
                                    "Average Purchase Value":total_pur_gender,
                                    "Avg Purchase Total per Person": avg_pp_gender})

#format to show index as gender
gender_purchasing.index.name = "Gender"

#format for the dollar sign
gender_purchasing.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#form bins and their labels
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#sort into bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins, labels=group_names)

#new df to groupby age
grouped_age = purchase_data.groupby("Age Group")

# total number of players by age
players_total = grouped_age["SN"].nunique()

# percentages by age category 
percentage_age = (players_total/Total) * 100

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Total Count": players_total,"Percentage of Players": percentage_age})

# no index name in the corner
age_demographics.index.name = None

# format for two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# calculations by age group
purchase_count = grouped_age["Purchase ID"].count()
avg_pur_price_age = grouped_age["Price"].mean()
total_purchase_value = grouped_age["Price"].sum()
avg_pp_age = total_purchase_value/players_total

# new df
age_calc = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": avg_pur_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_pp_age})
#remove first row of <10 age
age_calc = age_calc.iloc[1:]

# no index name in the corner
age_calc.index.name = None

# format for $
age_calc.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

In [8]:
## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
# groupby SN
spender = purchase_data.groupby("SN")

# calculations
count_spender = spender["Purchase ID"].count()
avg_pp_spender = spender["Price"].mean()
total_spender = spender["Price"].sum()

# new df
top_spenders = pd.DataFrame({"Purchase Count": count_spender,
                             "Average Purchase Price": avg_pp_spender,
                             "Total Purchase Value":total_spender})

# sort in descending order 
desc_spender = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

#format for $
desc_spender.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# new df 
items = purchase_data[["Item ID", "Item Name", "Price"]]

#group by by item id and item name 
item_grp = items.groupby(["Item ID","Item Name"])

# calculations
count_item = item_grp["Price"].count()
purchase_val = (item_grp["Price"].sum()) 
item_price = purchase_val/count_item

# new df
most_pop_items = pd.DataFrame({"Purchase Count": count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_val})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_desc = most_pop_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_desc.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
# sort previous df in descinding purchase value
popular_desc = most_pop_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# format for $ 
popular_desc.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})